body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FD9920;

}

.search-cities {
  position: relative;
  width: 300px;
  height: auto;
  margin-bottom: 3em;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

/*FORM*/

input {
  background: none;
  border-radius: 20px;
  padding: 1em;
  border: solid 1px #000;
  color: #000; 
}

input::placeholder {
  color: #000; 
}

.suggestions {
  background: transparent;
  border: none;
  max-height: 200px;
  width:fit-content;
  overflow-y: auto; /* Active le défilement vertical */
}

/* Personnaliser la barre de défilement */
.suggestions::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement */
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: transparent; /* Couleur de la barre de défilement (thumb) */
  border-radius: 10px; /* Arrondir les bords de la barre de défilement */
}

.suggestions::-webkit-scrollbar-track {
  background-color: transparent; /* Couleur de la piste (track) de la barre de défilement */
}

.suggestion-item